/*------------ Course - Form -------------*/

.articletitle {
    font-size: 40px;
    text: black;
    padding: auto;
    margin: auto;
    padding-bottom: 2rem;
    
}
.container-item {
    border: solid 1px red;
    width: 80%;
    padding: auto;
    margin: auto;
    margin-bottom: 3rem;
    padding-top: 1rem;
    -webkit-box-shadow: 6px 8px 36px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 8px 36px 4px rgba(0,0,0,0.75);
     box-shadow: 6px 8px 36px 4px rgba(0,0,0,0.75);
     border-radius: 44px 44px 44px 44px;
-moz-border-radius: 44px 44px 44px 44px;
-webkit-border-radius: 44px 44px 44px 44px;
border: 0px solid #000000;
}
.box-form {
 
    width: 90vh;
    padding: auto;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
}


/*------------ Login - form -------------*/
.login-container {
    height: 40vh;
    width: 90vh;
    padding: auto;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    -webkit-box-shadow: 6px 8px 36px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 8px 36px 4px rgba(0,0,0,0.75);
     box-shadow: 6px 8px 36px 4px rgba(0,0,0,0.75);
     border-radius: 44px 44px 44px 44px;
     -moz-border-radius: 44px 44px 44px 44px;
    -webkit-border-radius: 44px 44px 44px 44px;
}
.login-label {
    width: 60vh;
    margin: auto;
    padding: auto;
    padding-top: 2rem;
}
.login-button {
    justify-content: center;
    margin: auto;
    margin-top: 2rem;
    padding: auto;
    padding-left: 12rem;
}
.container-welcome {
    margin: auto;
    padding: auto;
    font-size: 20px;
    padding-left: 18rem;
    padding-top: 4rem;
}

/*------------ Register - form -------------*/
.register-container {
    height: 60vh;
    width: 100vh;
    padding: auto;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    -webkit-box-shadow: 6px 8px 36px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 8px 36px 4px rgba(0,0,0,0.75);
     box-shadow: 6px 8px 36px 4px rgba(0,0,0,0.75);
     border-radius: 44px 44px 44px 44px;
     -moz-border-radius: 44px 44px 44px 44px;
    -webkit-border-radius: 44px 44px 44px 44px;
}
.register-label {
    width: 80vh;
    padding-top: 2rem;
    padding: auto;
    margin: auto;
}
.register-label button {
    padding: auto;
    margin: auto;
    margin-left: 19rem;
}
.register-success{
    eight: 60vh;
    width: 100vh;
    padding: auto;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding-left: 20rem;
    -webkit-box-shadow: 6px 8px 36px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 8px 36px 4px rgba(0,0,0,0.75);
     box-shadow: 6px 8px 36px 4px rgba(0,0,0,0.75);
     border-radius: 44px 44px 44px 44px;
     -moz-border-radius: 44px 44px 44px 44px;
    -webkit-border-radius: 44px 44px 44px 44px;
}

/*------------ Contact - form/controller -------------*/
.contact-container {
    height: 60vh;
    width: 90vh;
    padding: auto;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    -webkit-box-shadow: 6px 8px 36px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 8px 36px 4px rgba(0,0,0,0.75);
     box-shadow: 6px 8px 36px 4px rgba(0,0,0,0.75);
     border-radius: 44px 44px 44px 44px;
     -moz-border-radius: 44px 44px 44px 44px;
    -webkit-border-radius: 44px 44px 44px 44px;
}
.contact-label {
    width: 80vh;
    margin: auto;
    padding: auto;
    padding-top: 2rem;
}
.contact-button {
    padding: auto;
    margin: auto;
    height: 10vh;
    padding-left: 21rem;
    margin-top: -1rem;
}
.contact-map {
    padding: auto;
    margin: auto;
    padding-left: 40rem;
    margin-top: 6rem;
}
.contact-map h2 {
    padding: auto;
    padding: auto;
    width: 62vh;
    padding-left: 15rem;
}
/*------------ Thanks for the message  -------------*/
.thanks-container {
    height: 60vh;
    width: 90vh;
    padding: auto;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    -webkit-box-shadow: 6px 8px 36px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 8px 36px 4px rgba(0,0,0,0.75);
     box-shadow: 6px 8px 36px 4px rgba(0,0,0,0.75);
     border-radius: 44px 44px 44px 44px;
     -moz-border-radius: 44px 44px 44px 44px;
    -webkit-border-radius: 44px 44px 44px 44px;
}
.thanks-text {
    padding-top: 2rem;
    padding-left: 18rem;
}
.thanks-picture {
    padding-left: 10rem;
}