@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web


@if (Umbraco.MemberIsLoggedOn())
{
    using (Html.BeginUmbracoForm("SubmitLogout", "member", FormMethod.Post, new { id = "logout" }))
    {
        Html.AntiForgeryToken();
        var myUser = Membership.GetUser();
        if (myUser != null)
        {
        <div class="container-welcome">
            
            <h1>Hello @myUser.UserName! </h1>
            
            <p>Welcome to our site!</p>
            <p>We are happy to have you here!</p>
        </div>
        }
    }
}